# Ignore Docker related files
.dockerignore

# Ignore MySQL database files and logs
/data/*
/log/*
# Ignore unnecessary database files
# Files
#ib_16384_0.dblwr
#ib_16384_1.dblwr
#innodb_redo
#innodb_temp
airflow_db
auto.cnf
binlog.index
ib_buffer_pool
ibtmp1
openmetadata_db
performance_schema
sys

# Certificates and keys
ca.pem
ca-key.pem
client-cert.pem
client-key.pem
private_key.pem
public_key.pem
server-cert.pem
server-key.pem

# Log files
binlog.000001
binlog.000002
binlog.000003
binlog.000004

# MySQL specific files
mysql
mysql.ibd
mysql.sock
mysql.sock.lock

# Other files
auto.cnf
ibdata1
